{
    "_Capmi": "This is the prettier setting for Capmi Team.",
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [".prettierrc", ".eslintrc"],
            "options": {
                "parser": "json"
            }
        }
    ],
    "semi": true,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "printWidth": 120
}
