<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Security-Policy" content="" />
        <!-- content="script-src 'self' 'unsafe-inline'" -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <title>Capmi Kinect Game!</title>
    </head>
    <body style="margin: 0; padding: 0">
        <div id="root"></div>
    </body>
</html>
